<!DOCTYPE HTML>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Node Created!</title>
  </head>
  <body>
    <h1>Your node was successfully created!</h1>
    <p><a href = "/node/<%= @new_node_id %>">View your node</a></p>
    <p><a href = "/">View entire tree</a></p>
  </body>
</html>
