<!DOCTYPE HTML>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Make New Node</title>
  </head>
  <body>
    <h1>An error occurred while trying to create your node.</h1>
    <p>This probably means that the node whose child you were trying to create already has that child.</p>
    <p><a href = "/">Return to Tree</a></p>
  </body>
</html>
