<!DOCTYPE HTML>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Node Deleted!</title>
  </head>
  <body>
    <h1>Your node was successfully deleted!</h1>
    <p><a href = "/">View entire tree</a></p>
  </body>
</html>
