<!DOCTYPE HTML>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Deletion Error</title>
  </head>
  <body>
    <h1>Your node could not be deleted.</h1>
    <p>You can only delete leaf nodes. You can't delete the root node. That, or this node doesn't exist.</p>
    <p><a href = "/node/<%=@nodeid%>">Return to Node</a></p>
    <p><a href = "/">View Entire Tree</a></p>
  </body>
</html>
