<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/nodes.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/indexheader.css" />
  </head>
  <body class='container'>
    <%= yield %>
  </body>
</html>
