.node-nav{
  top: 300px;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  background-color: yellow;
}
#left-node-nav
{
  -ms-transform: translate(-240px, -50%);
  transform: translate(-240px, -50%);
}
#right-node-nav
{
  -ms-transform: translate(90px, -50%);
  transform: translate(90px, -50%);
}
